.OtherNoteWorthy-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 100px max(calc((100vw - 1000px) / 2), 7rem);

}


.center-heading {
    font-family: var(--font-sans);
    font-weight: 600;
    opacity: 0.8;
    font-size: 1.5rem;
    margin: 0px;
}

.OtherNoteWorthy-content p {
    font-family: var(--font-mono);
    font-size: 0.9rem;
    color: var(--green);
    opacity: 0.8;
    margin: 0.5rem 0px 2rem 0px;
}


.note-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.note-item {
    height: 300px;
    border-radius: 5px;
    background-color: #17202C;
    overflow: hidden;
    box-shadow: -2px -4px 82px -14px rgba(0, 0, 0, 0.92);
    -webkit-box-shadow: -2px -4px 82px -14px rgba(0, 0, 0, 0.92);
    -moz-box-shadow: -2px -4px 82px -14px rgba(0, 0, 0, 0.92);
}



.hovered:hover  {
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}


