:root{
  --dark-bg: #010A17;
}

body{
  height: 100%;
  width: 100%;
  background-color: var(--dark-bg);
  color: white;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

/* The folllowing is the configuration of scroll bar */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #A19A8F;
  border-radius: 10px;
}
